.page{
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags{
    bottom:auto;
    top:35px;
}

.tags{
    color:#ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 20px;
    left: 120px;
    font-size: 18px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

.bottom-tag-html{
    margin-left: -20px;
}
